button {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: #fff;
  background-color: #007bff;
}

button:hover {
  background-color: #007bffe0;
}

input[type='text'] {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: rgb(31, 31, 31);
}

#mainbody {
  min-height: 700px;
}

.footer {
  width: 100%;
  padding: 10px 10px;
  color: #fff;
  text-align: center;
  font-size: small;
  bottom: 0
}